/* ------------------------------------------------------------------ */
/* Color & Theming
/* ------------------------------------------------------------------ */
$color-primary:#202147;/*DEEP BLUE*/
$color-secondary: #5776fe;/*light BLUE*/
$color-tertiary: #ad80ff;/*PURPLE*/
$color-complement:#ffffff;/*White*/
$color-light:#f9f9fc;/*light gray*/
$color-text:#202147;/**/

$color-link:#202147;
$color-hover:#202147;

$color-border: #eff1f7;
$color-table-border: #eff1f7;
$color-table-thead: #f8fafc;
$color-table-bg: #ffffff;
$color-table-odd: #f8f9fd;

$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Georgia', serif;
