/* ------------------------------------------------------------------ */
/* header
/* ------------------------------------------------------------------ */
header {
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    .logo {
        display: inline-block;
        margin-top: 11px;
        vertical-align: middle;
        h1 {
            display: inline-block;
            font-size: 1.3em;
            color: $color-primary;
            vertical-align: middle;
            padding-left: 5px;
        }
    }
}
